:root {
    /* CSS HEX */
    --puce: #c6878fff;
    --blue-jeans: #5aa9e6ff;
    --light-sky-blue: #7fc8f8ff;
    --cultured: #f9f9f9ff;
    --minion-yellow: #ffe45eff;
}

body{
    background-color: var(--puce);
    margin:0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: var(--light-sky-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.navigation a {
color: var(--minion-yellow);
padding: 20px;
text-decoration:none;
font-size: 28px;

}

.navigation {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 100px;
    padding: 15px;
}

.footer {
    background-color: var(--cultured);
}

footer.navigation {
    display: flex
    flex-direction: row;
    padding: 180px;
}

.footer {
    background-color: var(--light-sky-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    min-width: 150px;
    justify-content: space-between;
}

.social a{
    color: crimson;
    font-size: 32px;
}